<p>
  <mat-toolbar>
    <span>My Application</span>
  </mat-toolbar>
</p>
<nav>
  <ul>
    <div class="example-button-row">
    <button mat-flat-button color="primary" routerLink="/home-component" routerLinkActive="active" ariaCurrentWhenActive="page">Lista de Usuários</button>
    <div class="space"></div> 
    <button mat-flat-button color="primary"  routerLink="/form-component" routerLinkActive="active" ariaCurrentWhenActive="page">Formulário</button>    
  </div>
</ul>
</nav>
<router-outlet></router-outlet>